<div>
  <div class="close-button">
    <%= link_to my_fish_path do %>
        <p>X</p>
    <% end %>
  </div>
</div>


<p>blablabla</p>

<h1>Congratulations !</h1>
<p> You won <%= @challenge.score_health %> points and made your fish is happier ! </p>


