// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
// Happy Fish colors:
$light-gray: #F4F6F6;
$blue: #28C3D4;
$light-blue: #E3F7F7;
$dark-blue: #248EA9;
$gradient-blue: #80F8FA;
$orange: #FFB531;

