body {
  background-color: white;
  color: $dark-blue
}

.congrats-container {
  display: flex;
  height : calc(100vh - 164px);
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.congrats-message-container {
  max-width: 300px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

p {
  font-size: 18px;
  font-weight: 300;
}
