.my-fish-container {

  background-color: #28C3D4;
  height: calc(100vh - 57px);
  display: flex;
  align-items: center;
  width: 100%;
  background-image: image-url("ocean11.png");
  background-size: 233% 107%;
}
