<div class="fish-modal">
  <div class="fish-modal-content">
    <h1 class="modal-title">Hold your seahorses!</h1>
    <p>You can only take care of one fish at one time</p>
    <a class="next-q-btn btn-gradient centered" style="display: block;" href="/my_fishes/<%= @my_fish.id %>">What about <%= @my_fish.name %>?</a>
  </div>
</div>
