<div class="fish-modal">
  <div class="fish-modal-content">
    <h1>Hold your seahorses!</h1>
      <p>You need to adopt a fish before you can begin a new challenge!</p>
    <a class="next-q-btn btn-gradient centered" style="display: block;" href="/fishes">Adopt a new fish!</a>
  </div>
</div>
