<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "#", class: "d-flex justify-content-center align-items-center flex-column" do %>
          <%= image_tag "my-fish.svg", alt: "alttext", class: "mt-2" %>
          <p class="nav-link py-0" id="my-fish">My Fish</p>
        <% end %>
      </li>
      <li class="nav-item" id="challenges">
        <a class="nav-link" href="#">Challenges</a>
      </li>
      <li class="nav-item" id="impact">
        <a class="nav-link" href="#">Impact</a>
      </li>
      <li class="nav-item" id="profile">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </div>
</div>
