<div class="return-bar d-flex align-items-center">
  <div>
    <%= link_to request.referer.present? ? request.referer : root_path do %>
    <%= image_tag "blue-arrow.png", class: "blue-arrow-icon"%> Back
    <% end %>
  </div>
</div>

