<h1>Congratulations !</h1>
<% if @challenge.score_health > 0 %>
<p> You won <%= @challenge.score_health %> points and made your fish happier ! </p>
<% else %>
<p> You made your fish happier ! </p>
<% end %>
