.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin: 8px;
  padding: 16px 24px;
  background: white;
}


.alert-success {
  border: 2px solid $blue;
}

.alert-warning {
  border: 2px solid $orange;
}

.alert-danger {
  border: 2px solid #FD1015;
}

.game-alert {
  border: 1px solid $dark-blue;
  position: fixed;
  bottom: 16px;
  right: -150px;
  z-index: 1000;
  align-items: center;
  border-radius: 4px;
  margin: 8px;
  padding: 8px 16px;
  background: white;
  transition: bottom 2s;
  transition: right 2s;
}

.game-alert p {
  font-size: 14px;
  margin: 3px;
}

