.btn-gradient {
  display: inline-block;
  text-align: center;
  height: 54px;
  width: 100%;
  min-width: 330px;
  max-width: 450px;
  border-radius: 30px;
  background-image: linear-gradient(to right, $dark-blue 0%, $gradient-blue 100%);
  margin: 8px 0;
  padding: 8px;
  font-weight: 600;
  font-size: 24px;
  color: white;
  border: none;
    &:hover {
      text-decoration: none;
    }
}

.btn-blue {
  display: inline-block;
  text-align: center;
  height: 54px;
  min-width: 330px;
  max-width: 450px;
  border-radius: 30px;
  margin: 8px;
  padding: 8px;
  font-weight: 600;
  font-size: 24px;
  border: 2px solid $dark-blue;
  color: $dark-blue;
    &:hover {
      text-decoration: none;
    }
}

.btn-fb {
  display: inline-block;
  text-align: center;
  height: 54px;
  min-width: 330px;
  max-width: 450px;
  border-radius: 30px;
  background-color: #4266B2;
  color: white;
  font-size: 14px;
  position: relative;
}

// #fblogo {
//   position: absolute;
// }

.btn-invite-friends {
  text-align: center;
  height: 54px;
  min-width: 330px;
  max-width: 450px;
  background-color: #F7BE16;
  border-radius: 30px;
  margin: 16px;
  padding: 8px;
  font-weight: 600;
  font-size: 24px;
  color: black;
    &:hover {
      text-decoration: none;
    }
}

