
.challenge-card {
  background-size: cover;
  background-position: center;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: ExtraBold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 16px;
}

.ongoing-challenge-card {

}

// horizontal scrolling

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.fish-grid {
  display: grid;
  width: 321px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.fish-index-card {
  height:150px;
  min-width:200px;
  background-color: white;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  border-radius: 4px;
}

.blocked-fish-index-card {
  height:150px;
  min-width:200px;
  background-color: $light-blue;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  border-radius: 4px;
  color: $dark-blue;
}

.fish-wrapper {
  display:flex;
  flex-direction: column;
}

.fish-img {
  max-height: 150px;
  max-width: 75px;
  position: absolute;
  top: 40px;
  left: 55px;
}
