// challenge index
.challenge-card {
  background-size: cover;
  background-position: center;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 800;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 16px;
  margin-right:16px;
  margin-bottom: 16px;
  min-width: 240px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}



// ongoing challenge

.ongoing-challenge-card {
  background-color: white;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
  color: $blue;
  font-weight: 600;
  font-size: 18px !important;
}

// completed challenge
.completed_challenge_card {
  background-color: $light-blue;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
  color: $dark-blue;
  font-weight: 600;
  font-size: 18px !important;
}



// fish show


.fish-show-card {
  width: 100%;
  height: 60%;
  margin: 5 auto;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
  img{
    margin: 20px auto;
  }
  opacity: 0.92;
}

.your-fish-title {
  margin-top: 7%;
}


.fish-show-card-body {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  div {
    width: 30%
  }
}

.my-fish-show-card {
  margin: 0px auto;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
  font-size: 12px;
  img{
    margin: 20px auto;
  }
    }


.my-fish-bar {
  padding: 0 20px;
  margin-bottom: 15px;
}


// fish card

.fish-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


.fish-index-card {
  height:110px;
  // max-width: 160px;
  background-color: white;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  border-radius: 4px;
}

.blocked-fish-index-card {
  height:110px;
  // max-width: 160px;
  background-color: $light-blue;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  border-radius: 4px;
  color: $dark-blue;
}

.fish-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.fish-img {
  max-height: 150px;
  max-width: 75px;
}

@media only screen and (max-width: 320px) {
  .fish-grid {
    grid-template-columns: 1fr;
  }
}
