// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "cards";
@import "titles";
@import "answers";
@import "banner";
@import "image";
@import "progressive_bar";
@import "modals";
@import "main_screen";
@import "returnbar";
@import "closebutton";
@import "map";
@import "timeline";


.centered {
  text-align: center;
}

.centered-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding-bottom: 55px;
}

a {
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}
