.chart {
  width: 90vw;
  margin: 16px auto;
  padding: 16px 0;
}

.map_container {
  width: 100vw;
  padding: 16px 8px;
}

.read-more {
  display: none;
}

.map_legend {
  width: 90vw;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
}

.map_legend p {
  font-size: 12px;
  margin-bottom: 0;
}
