.navbar-lewagon {
}

.navbar-lewagon .navbar-collapse {
}

.navbar-lewagon .navbar-collapse .nav-item {
}

.navbar-lewagon .navbar-collapse .nav-item a:hover {
  text-decoration: none;
  color: #248EA9
}

.navbar-lewagon p {
  color: #979797;
}

.navbar-lewagon .navbar-collapse .nav-item a:hover p {
  color: #248EA9
}


svg {
  fill: #979797;
}

.active-tab {
  color: #28C3D4;
}
.inactive-tab {
  color: #979797;
}

// Mobile Devices
@media (min-width: 100px) and (max-width: 767px) {

}

// Desktop
@media (min-width: 768px) {

}

.footer-navbar {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  padding: 7px 0px;
}



