
.main-title {
  font-size: 24px;
  font-weight: ExtraBold;
  color: $dark-blue;
  margin-bottom: 16px;
}

.section-title {
  font-size: 18px;
  margin-top: 8px;
  font-weight: SemiBold;
  color: $dark-blue;
  margin-bottom: 16px;
}
